@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

html, body{
  height: 100%;
  margin: 0;
}

#info-wrapper {
    position:absolute;
    display:inline-block;
    /*bottom:0px;
    left:0px;
    left:35%;*/
    /*top:5%;*/
    bottom:0px;
    width:100%;
    left: 0;
    height:auto;
    margin: 0 auto;
    padding: 0;
}

.canvas-interactive-wrapper {
    width: 100%;
    height: 100%;
    /* position: relative; */
    bottom: 10px;
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
}

.canvas-interactive-wrapper: after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.canvas-interactive-wrapper {
    /* background-size: cover; */
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: auto;
    /* margin: 0; */
}

#canvas-interactive{
    /* background-size: cover; */
    /*position: absolute;*/
    opacity: 100%;
    display: none;
    /*width: 100%;*/
    /*height: 100%;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: auto;
    /* margin: 0; */
}

/* fdf */

.canvas-interactive-wrapper  .cta-wrapper{
    margin-top: 6%;
}

.canvas-interactive-wrapper h1{
  font-family: 'Spartan', sans-serif;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 2%;
  position: relative;
  display: inline-block;
  border: solid 5px transparent;
  z-index: 1;
  color: #222;
  transition: border .3s;
}

.canvas-interactive-wrapper .cta-wrapper a{
    font-family: 'Spartan', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    border: solid 1px transparent;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    text-decoration: none;
    color: #222;
    transition: border .3s;
    border-radius: 2px;
    background-color: rgba(201, 198, 205, 0.9));
    margin-bottom: 5%;
}


.canvas-interactive-wrapper .cta-wrapper a:hover, a:active{
  border-color: #222;
    opacity:50%;

}
.canvas-interactive-wrapper .cta-wrapper a.active {
    border-color: #535157;
}
.canvas-interactive-wrapper .cta-wrapper a.active:hover {
  border-color: #222;
    opacity:90%;
}

.canvas-interactive-wrapper .canvas-meme {
  margin-left: auto;
  margin-right: auto;
    top: 10%;
  width: 25%;
  /* min-width: 256px; */
  background-color: #222;
  position: relative;
  display: block;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(42,49,54,0.5634628851540616) 0%, rgba(148,187,233,0) 100%);
  z-index: 2;
  cursor: pointer;
}

#text1{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 26px;
  font-size: 3vw;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family: 'Spartan', sans-serif;
}

#text2{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 26px;
  font-size: 3vw;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family: 'Spartan', sans-serif;
}
